[Unit]
Description=Gunicorn server for DOMAIN

[Service]
Restart=on-failure
User=hssqicai21
WorkingDirectory=/home/hssqicai21/sites/DOMAIN
EnvironmentFile=/home/hssqicai21/sites/DOMAIN/.env
ExecStart=/home/hssqicai21/sites/DOMAIN/virtualenv/bin/gunicorn \
    --bind unix:/tmp/DOMAIN.socket \
    superlists.wsgi:application

[Install]
WantedBy=multi-user.target


